
.khungthongtin {
    background-color: rgb(141, 171, 218);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(19, 17, 17);
    margin-bottom: 30px;
    color: #ffffff;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.detail-img {
    width: 300px; 
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgb(103, 103, 103);
    transition: transform 0.3s;
}

.detail-img:hover {
    transform: scale(1.02);
}

.description {
    width: 100%;
    line-height: 1.6;
    text-align: justify;
}

.description strong {
    color: rgb(255, 255, 255);
}

.description p {
    margin-bottom: 15px;
}

.comment-section {
    background: #5283c8;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.comment-section h3 {
    margin-bottom: 20px;
    color: #ffffff;
    border-left: 5px solid rgb(255, 255, 255);
    padding-left: 15px;
}

#commentInput {
    width: 100%;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #3d80cb;
    margin-bottom: 10px;
    resize: vertical;
}

#btnPostComment {
    width: auto;
    padding: 10px 30px;
    background-color: rgb(128, 158, 217);
}
.main-footer {
    background-color: #1a2a45;
    color: #aaa2a2;
    padding: 40px 0 20px 0;
    margin-top: 50px;
    
    /* Thay đổi ở đây để tràn màn hình */
    margin-left: 0 !important; 
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
}
